<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de Sellers</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>operações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="seller : ${vendedores}">
                <td th:text="${seller.id}"></td>
                <td th:text="${seller.name}"></td>
                <td th:text="${seller.email}"></td>
                <td> <a th:href="@{'/sellers/apagar/' + ${seller.id}}">apagar</a> </td>
                <td> <a th:href="@{'/sellers/deletar/' + ${seller.id}}">deletar</a> </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>